.navbar {
  margin: 0;
  border-radius: 0;
  border: none;
  background-color: rgba(103,117,125, 0.5);
}

.navbar a {
  color: white;
}


.background {
  background-image: url(img/contact.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 50px;
  margin-bottom: 30px;
  background-attachment: fixed;
}

.row{
  margin-bottom: 20px;
}
.cont{
  background-color: white;
}
.content {
   /* width: 400px; */
  margin-top: 100px;
  background-color: #fff;
  padding: 0 20px 20px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border: solid 5px white; 
  text-align: center;
  background-color: #f0f0f0;
}
.content:hover .avatar-flip {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
}
.content:hover .avatar-flip img:first-child {
  opacity: 0;
}
.content:hover .avatar-flip img:last-child {
  opacity: 1;
}
.avatar-flip {
  border-radius: 100px;
  overflow: hidden;
  height: 150px;
  width: 150px;
  position: relative;
  margin: auto;
  top: -60px;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  box-shadow: 0 0 0 13px white;
  -webkit-box-shadow: 0 0 0 13px white;
  -moz-box-shadow: 0 0 0 13px white;
  background-color: #0F5DA9;
}
.avatar-flip img {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 100px;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
}
.avatar-flip img:first-child {
  z-index: 1;
}
.avatar-flip img:last-child {
  z-index: 0;
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  opacity: 0;
}
h2 {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 15px;
  color: #0F5DA9;
}
h4 {
  font-size: 13px;
  color: #00baff;
  letter-spacing: 1px;
  margin-bottom: 25px
}
p {
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 20px;
  color: #666;
}
.incircle{
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 15px;
  color:  #00baff;
  margin-top: 50px;
} 

@media (max-device-width: 800px) {
  header {
      padding-left: 40px;
  }
  header img {
      width: 100%;
  }
  .navbar {
      display: flex;
      flex-direction: column;
      align-content: center;
  }
}