.panel-group {
    font-family: 'Open Sans', sans-serif;

}

.panel-default>.panel-heading {
    background-color: transparent;
    border: none;
    background-color: lightgray;

}

.panel-heading {
    border: none;
	background-color: #0F5DA9;
}

.panel-default>.panel-heading+.panel-collapse>.panel-body {
    border-top-color: transparent;

}

.panelHead {
    font-weight: bold;
}
.panel-body{
	background-color: gray;
}
.panel-default{
	margin-top: 50px;
}
